


h1, h2, h3 {
  font-family:  "Trebuchet MS", Helvetica, Arial, sans-serif;
}


h1 {
  font-size: x-large;

  color: white;
  padding-top: 0.8em;
  padding-bottom: .4em;
  padding-left: .5em;
  margin: 0;
}


h2 {
  color: white;
  font-size: 150%;
  font-weight: normal;
  margin-top: 15px;
}

h3 {
  color: white;
  font-weight: normal;
  padding-top: 5px;
}


body {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
	  font-family: Verdana, Helvetica, Arial, sans-serif; 
  background: brown url(../backgrounds/sunflower.jpg) top left;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.user-container
{
    text-align: right;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}


.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.d-none
{
    display: none;
}
